@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

body {
    background-color: black;
    color: white;
}

header {
    background: linear-gradient(180.00deg, rgb(17, 17, 17), rgba(119, 119, 119, 0) 100%);
    margin-bottom: 100px;
}

.header-page,
main {
    max-width: 80%;
    margin: 0 auto;
}

main {
    margin-top: 100px;
}

/* Shared Styles................................. */
.display-flex {
    display: flex;
}

.section-title {
    font-size: 3rem;
    font-weight: 900;
}



/* Navbar styles .................................... */
.navbar {
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
}

.nav-title {
    color: red;
    font-size: 2rem;
    font-weight: 800;
}

.nav-item {
    gap: 47px;
    font-size: 1.125rem;
    padding: 5px;
    align-items: center;
    justify-content: space-between;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 39px;

}

.home-btn {
    background-color: red;
    border-radius: 24px;
    color: white;
    font-size: 1.125rem;
    padding: 8px 20px;
    border: none;
}



/* header related styles .............................. */
.header-content {
    align-items: center;
    gap: 20px;
    justify-content: space-between;
}

.header-details {
    max-width: 60%;
    flex-direction: column;
    gap: 10px;
}

.header-title {
    font-size: 4rem;
    font-weight: 900;
}

.header-para {
    color: rgba(255, 255, 255, 0.5);
}

.header-btn {
    gap: 20px;
}

.btn-primary {
    max-width: 200px;
    padding: 16px 40px;
    background-color: red;
    color: white;
    border-radius: 30px;
    border: none;
    font-size: 1.125rem;
    font-weight: 600;
}

.download-btn {
    background-color: black;
    border: 1px solid white;
}

.card-style {
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(48, 48, 48, 0.54);
    max-width: 150px;
}

.card-style h1 {
    text-align: center;
}

.card-style p {
    text-align: center;
}

.card-circle {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-color: red;
}

.card-1 {
    margin-top: -500px;
    margin-left: 200px;
}

.card-2 {
    align-items: center;
    margin-top: 200px;
    margin-left: -100px;
}


/* main section styles....................... */
main section {
    margin-bottom: 100px;
}

/* Habits section related ........................... */
.first-sec {
    flex-direction: column;
    gap: 40px;
}


.habit-section {
    max-width: 60%;
    margin: 0 auto;
    text-align: center;
}

.normal-font {
    font-size: 0.875rem;
    color: rgba(255, 255, 255, 0.5);
}

.habits {
    text-align: center;
}

.habits img {
    border: 5px solid rgba(255, 255, 255, 0.5);
    border-radius: 50%;
}

.habit-item {
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}

.habits h1 {
    font-size: 1.125rem;
    font-weight: 600;
}



/* Second styles related ........................... */
.second-sec {
    padding: 30px;
    border-radius: 18px;
    background: rgb(34, 34, 34);
    align-items: center;
    justify-content: space-between;
    gap: 100px;
}

.run-section {
    padding: 20px;
    max-width: 50%;
    text-align: left;
    flex-direction: column;
    gap: 10px;
}

.run-section h1 {
    margin: 10px auto 10px 0px;
}

.run-image {
    max-width: 350px;
    max-height: 350px;
    border-radius: 10px;
}


/* Training and exercise related styles................. */
/* .row-1 {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}

.row-2 {
    display: grid;
    grid-template-columns: 1.2fr 0.8fr 1fr;
}

.training-image-1 {
    background-image: url(../images/exercise1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
}
.training-image-2 {
    background-image: url(../images/exercise2.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
}
.training-image-3 {
    background-image: url(../images/exercise3.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
}
.training-image-4 {
    background-image: url(../images/exercise4.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
}
.training-image-5 {
    background-image: url(../images/exercise5.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
}
.training-image-6 {
    background-image: url(../images/exercise6.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
} */


/*calculator related styles ......................... */


.calculator-content {
    max-width: 60%;
    margin: 0 auto;
}

.calculator-section {
    width: 100%;
    margin-top: 80px;
    background-color: rgb(34, 34, 34);
    border-radius: 20px;
    padding: 20px 0px;
}

.calculator-details {
    max-width: 95%;
    max-height: 95%;
    justify-content: space-between;
    margin: 20px auto;
}

.calculator-chart {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.chart-title,
.chart-value {
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 15px 20px;
}

.chart-title {
    font-weight: 500;
}

.chart-value {
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.875rem;
}

/* Calculator form related styles............... */
.bmi-form {
    flex-direction: column;
    gap: 20px;
}

.bmi-form h2 {
    margin: 0px;
}

form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* grid-template-rows: 1fr 1fr 2fr; */
    gap: 12px;
}

form input {
    padding: 12px 20px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    border: none;
    color: rgba(255, 255, 255, 0.6);
}

#activity-factor {
    grid-column: span 2;
}


/* Fifth section related style..................... */
.fifth-sec {
    flex-direction: column;
    gap: 20px;
}

.team-content {
    max-width: 60%;
    margin: 0 auto;
    text-align: center;
}

.team-section {
    border-radius: 18px;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
}


.team-image-1 {
    background-image: url(../images/trainer1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 18px;
    /* height: 100%;
    width: 100%; */
}
.team-image-2 {
    background-image: url(../images/trainer2.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 18px;
}
.team-image-3 {
    background-image: url(../images/trainer3.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 18px;
}
.team-image-4 {
    background-image: url(../images/trainer4.png);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 18px;
    background-position: center;
}
.team-image-5 {
    background-image: url(../images/trainer5.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 18px;
}
.team-image-6 {
    background-image: url(../images/trainer6.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 18px;
}


/* footer styles related ............................. */
footer {
    background-color: rgba(255, 255, 255, 0.1);
}

footer div {
    margin-bottom: 10px;
}

.footer-details {
    max-width: 80%;
    margin: 0 auto;
    padding: 30px 0px;
}

.footer-details p {
    text-align: center;
    margin-bottom: 20px;
}

.footer-sec {  
    align-items: center;
    gap: 250px;
}

.footer-title {
    color: red;
    font-size: 4rem;
    font-weight: 800;
}

.footer-content {
    max-width: 40%;
}

.footer-navbar {
    max-width: 50%;
    gap: 150px;
}

.footer-navbar nav {
    flex-direction: column;
    align-items: start;
    justify-content: start;
}

.footer-navbar nav h3 {
    font-size: 2rem;
    font-weight: 700;
}

.footer-navbar nav li {
    list-style: none;
    text-align: left;
    font-size: 1.4rem;
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 10px;
}





/* Media queries related............................. */

@media screen and (max-width: 576px) {

    .header-content,
    .navbar,
    .nav-item,
    .habit-item,
    .second-sec,
    .calculator-details,
    .footer-sec,
    .footer-navbar {
        flex-direction: column;
        align-items: start;
    }

    .header-title {
        font-size: 2rem;
    }


    .nav-item {
        align-items: center;
    }


    .btn-primary {
        font-size: 0.6rem;
        max-width: 250px;
        flex-direction: row;
        padding: 10px 20px;
    }

    .card-1 {
        margin-top: -500px;
    }

    .card-2 {
        margin-left: 50px;
    }

    .run-section {
        padding: 0px;
        max-width: 100%;
    }

    .second-sec {
        gap: 10px;
        padding: auto 20px;
    }

    .calculator-details {
        /* padding: 5px; */
        gap: 20px;
    }

    .calculator-content {
        text-align: left;
    }

    .team-section {
        grid-template-columns: repeat(1,1fr);
    }

    .footer-sec,
    .footer-navbar {
        gap: 0px;
    }
}